@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

/* ************************************ */
/* toggle button */
/* ************************************ */

.toggle-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.toggle-button {
  opacity: 0;
  position: absolute;
  left: -90000px;
  top: -90000px;
}

.toggle-button + label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-button + label::before {
  width: 8rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  content: 'imperial';
  background-color: #3498db;
  border-radius: 3rem;
  padding-right: 1rem;
  padding-left: 0.75rem;
  color: white;
  transition: content 200ms ease-in-out;
}

.toggle-button:checked + label::before {
  justify-content: flex-start;
  content: 'metric';
  color: white;
}

.toggle-button + label::after {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'metric';
  width: 4rem;
  height: 2.5rem;
  background-color: #ffffff;
  border-radius: 3rem;
  color: #3498db;
  margin-left: 0.3rem;
  transition: left 200ms ease-in-out, content 200ms ease-in-out;
}

.toggle-button:checked + label::after {
  width: 5rem;
  left: 4rem;
  content: 'imperial';
  color: #3498db;
}

/* ************************************ */
/* search area */
/* ************************************ */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search-group {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 5px;
  gap: 20px;
  margin-top: 2rem;
  width: 100%;
}
.search-box {
  border: none;
  border-radius: 1.5rem;
  padding: 20px;
  width: 60%;
  height: 3rem;
  font-size: 1.2rem;
}
.search-button {
  border: none;
  border-radius: 100%;
  background: #3498db; /* Button background color */
  padding: 0.5rem;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.validation-text {
  font-size: 0.8rem;
  color: rgb(189, 46, 46);
}

.hidden {
  display: none;
}

/* **********************************
Weather card
********************************** */
.weather-card {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;

  margin: auto 2rem;
}

.weather-div {
  width: 60%;
}
.weather-icon {
  width: 100%;
  height: auto;
}

.temperature {
  font-size: 3rem;
  font-weight: 700;
}

.location {
  font-size: 2rem;
  color: #3498db;
  font-weight: 700;
}

.description {
  font-size: 1.25rem;
  color: #3498db;
}

/* ***********************************
hourly container
*********************************** */

.hourly-container {
  display: flex;
  width: 80%;
  margin: auto 2rem;
  overflow-x: scroll;
  gap: 0.5rem;
}

.hourly-card {
  background-color: #3498db31;
  min-width: 6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.hour {
  font-size: 0.75rem;
}

.temp {
  font-size: 1.15rem;
}
